body
{
    background: #ffffff;
}

.date
{
    font-style: italic;

}
.panel
{
    background: #dbd6da !important;
    margin-top: 25px !important;
    height: 320px !important;
}

.center
{
    text-align: center;
}

.nomargin
{
    margin-bottom: 1px;
}

.logo
{
    margin-top: 20px;
}

.important
{
    color: #fdaf17;
}