<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Community movement to make Fremont more walkable and safer">
    <meta name="keywords" content="Fremont, Seattle, walkable, public safety">

    <title>{%  block Title %}Drew Vance{% endblock Title %}</title>

    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/crossing39th/images/favicon-1.png" />
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation-1.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app-2.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}modernizr.foundation-1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}foundation-1.js"></script>
    {% block Head %}{% endblock Head %}
</head>
<body>
    <div class="row">
        <div class="five columns">
            <a href="/"><img class="logo" src="{{ STATIC_URL }}images/logo-1.png" alt="Crossing 39th"></a>
        </div>
        <div class="seven columns">
            <div >
                <ul class="nav-bar">
                    <li class="{% if tabHome %}active{% endif %}"><a href="/">Home</a></li>

                    <li class="{% if tabMoreInfo %}active{% endif %}"><a href="/moreinfo">More Info</a></li>

                    {# <li class="{% if tabGetInvolved %}active{% endif %}"><a href="/getinvolved">Get Involved</a></li>  #}
                    <li class="{% if tabContact%}active{% endif %}"><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {%  block MainContent %}{% endblock MainContent %}
        </div>



    </div>
    <div class="row section">


        <div class="four columns panel">
            <h4>Why Cross At Phinney?</h4>
            <p>
                Last summer, the Seattle Department of Transportation (SDOT) did a pedestrian study at the intersections along N. 39th St. and found that none of the intersections had high enough pedestrian traffic to warrant making crossing improvements. If we all cross at Phinney Ave N. we can concentrate the pedestrian traffic at one intersection and the pedestrian counts will be high enough to warrant making improvements to this crossing. <a href="/moreinfo">Find out more.</a>
            </p>
        </div>
        <div class="four columns panel">
            <h4>Get Involved</h4>
            <p>Want to help our cause in other ways? <a href="/contact">Get in touch with us</a> or share this page on <a href="http://www.facebook.com/pages/Crossing-39th/467999086593924">Facebook</a>.</a> </p>
             <form>
            <h5>Join Our Mailing List</h5>
                <input type="text" name="mailing_email" id="mailing_email" placeholder="Email Address">
                <a id="send" href="#" onclick="Submit();return false;" class="nice button">Send</a>
            </form>
        </div>
        <div class="four columns panel">
            <h4>Upcoming Events</h4>
            {% for event in events %}
                <div>
                    <h6 class="nomargin">{{ event.title }}</h6>
                    <span class="date">{{ event.datetime }}</span>
                    <span><a href="{{ event.location_map_url }}">{{ event.location }}</a></span>
                    <p>{{ event.description }}</p>
                </div>
            {% empty %}
                <div>
                    <p>No upcoming events at this time.</p>
                </div>
            {% endfor %}
        </div>
    </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37801083-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <script>
        
    function Submit()
    {
        $('#add_email').html('Sending...');
        var email = $('#mailing_email').val();
        var data = {'email':email};
        var postString = 'csrfmiddlewaretoken={{ csrf_token }}&data=' + JSON.stringify(data);
        $.ajax({
            url:'/mailingadd',
            type:'post',
            data:postString,
            complete:function (e) {

                var returnedData = jQuery.parseJSON(e.responseText);
                if (returnedData.suc == true) {
                    $('#suc').reveal({
                        animation: 'fade', //fade, fadeAndPop, none
                        animationspeed: 300, //how fast animtions are
                        closeOnBackgroundClick: true, //if you click background will modal close?
                        dismissModalClass: 'close-reveal-modal' //the class of a button or element that will close an open modal
                    });
                    $('#add_email').html('Sent');
                }
                else {
                    $('#fail').reveal({
                        animation: 'fade', //fade, fadeAndPop, none
                        animationspeed: 300, //how fast animtions are
                        closeOnBackgroundClick: true, //if you click background will modal close?
                        dismissModalClass: 'close-reveal-modal' //the class of a button or element that will close an open modal
                    });

                    $('#add_email').html('Failed');
                }
            }
        });
    }
    </script>


<div id="suc" class="reveal-modal">
     <h2>Submitted</h2>
     <p>Thanks for getting in touch.</p>
     <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="fail" class="reveal-modal">
     <h2>Submission failed</h2>
     <p>For some reason, the request failed. Maybe your internet connection isn't working or something. If it's on our end, I'll be investigating why, so try again soon.</p>
     <a class="close-reveal-modal">&#215;</a>
    </div>
</body>
</html>