{%  extends 'base.html' %}
{%  block Title %}
Crossing 39th - Home
{% endblock Title %}
{% block Head %}{% endblock Head %}
{% block MainContent %}
    <div class="row section">
        <div class="twelve columns ">
                <h3>Do you want to make it safer to cross N 39th Street?</h3>
                <h3>All you need to do is cross at Phinney.</h3>

        </div>
    </div>

    <div class="row section center">
            <div class="twelve columns ">
                    <img src="{{ STATIC_URL }}images/map.jpg" />
            </div>
        </div>


    <div class="row section">
        <div class="six columns panel">
            <h4>Why Cross At Phinney?</h4>
            <p>
                Our goal is to get the Seattle Department of Transportation to conduct a study of pedestrian traffic at this intersection. If enough people cross at Phinney then measures will be taken to make crossing safer, such as better lighting or painting a crosswalk. Currently, people cross at many points along 39th which keeps the pedestrian counts too low at any given intersection to justify improvements. <a href="/moreinfo">Find out more.</a>

            </p>
        </div>
        <div class="six columns panel">
            <h4>Get Involved</h4>
            <p>Want to help our cause in other ways? <a href="/contact">Get in touch with us</a> or share this page on <a href="http://www.facebook.com/pages/Crossing-39th/467999086593924">Facebook</a>.</a> </p>
        </div>

    </div>
{% endblock MainContent %}
