{%  extends 'base.html' %}
{%  block Title %}
Crossing 39th - More Info
{% endblock Title %}
{% block Head %}{% endblock Head %}
{% block MainContent %}
    <div class="row section">
        <div class="twelve columns">
            <h2>
                More Info
            </h2>

            <h4>Do you want to make it safer to cross N 39th Street?</h4>
            <p>Most of the Fremont residents live north of N. 39th St. and most of the businesses are south, so we would like to find a way to have a safer crossing between the two.</p>

            <p>The Seattle Department of Transportation (SDOT) did a pedestrian count at intersections along N. 39th Street in Fremont and found that none of the intersections had high enough pedestrian traffic to warrant making improvements to any of the intersections that would make it easier for people to get across N. 39th St. In order to get improvements to an intersection on N. 39th St. we need to get the pedestrian numbers high enough to meet SDOT's threshold.</p>

            <p>For this reason, we are promoting everyone to cross N. 39th St. at Phinney Ave N as much as possible to concentrate the pedestrian traffic at one intersection. If we can get enough people to consistently use this crossing, we can request another pedestrian count from SDOT that will hopefully have high enough numbers to warrant making improvements to this crossing.</p>

            <h4>Why make the crossing at Phinney Ave N?</h4>
            <p>We decided to focus on the crossing at Phinney Ave N for a few reasons...</p>
            <ul>
                <li>It is the halfway point between Leary Way NW and Fremont Ave N (the two points along N. 39th St. that have designated crosswalks)</li>
                <li>Walking south on Phinney Ave N drops you right on the edge of the main commercial district in Fremont.</li>
                <li>There is a light and designated crosswalks at the intersection of Phinney Ave N and N. 36th St. that make it easy to cross this busy thoroughfare.</li>
                <li>Continuing south on Phinney Ave N from N. 36th St. connects you directly to the Burke-Gilman trail.</li>
            </ul>
        </div>
    </div>
{% endblock MainContent %}
